body {
  font-family: lato, sans-serif;
  background: #F5F1DE;
}

h1 {
  text-align: center;
}

ul {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 40em;
  height: 25.625em;
  padding: 1em;
  border: 0.063em solid gray;
  overflow: scroll;
  list-style-type: none;
  background: white;
}
